<h1>{{ title.toLocaleUpperCase() }}</h1>
<label for="addItemInput">What do you want to add to the task list today ? </label>

<input
  #newItem
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput"
  placeholder="add an item"/>
<button (click)="addItem(newItem.value);newItem.value = ''" class="btn-primary" type="button">Add</button>
<!-- Buttons that show all, still to do, or done items on click -->
<div class="btn-wrapper">
  <button
    (click)="filter = 'all'"
    [class.active]="filter == 'all'"
    class="btn btn-menu">
    All
  </button>

  <button
    (click)="filter = 'active'"
    [class.active]="filter == 'active'"
    class="btn btn-menu">
    To Do
  </button>

  <button
    (click)="filter = 'done'"
    [class.active]="filter == 'done'"
    class="btn btn-menu">
    Done
  </button>
</div>
<h2>
  {{ getItems().length }}
  @if (items.length <= 1) {
    <span>item</span>
  } @else {
    <span>items</span>
  }
</h2>

<ul>
  @for (i of getItems(); track i.description) {
    <li>
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  }
</ul>

